@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');


$color : white;
$color-black : #333;

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background: $color;
    display:flex;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    align-items: center;
    min-height:100vh;
}

main {
    margin:auto;
    max-width: 1000px;
    width:100%;
    background: $color-black;
    color: $color;
    padding:2rem;
    display:flex;
    flex-direction: column;
    text-align:center;
    line-height: 1.7;
    border-radius: 1rem;

        @media (max-width:1040px){
            margin: auto 20px;
        }


    h1 {
        line-height:1.1;
    }

    #score {
        font-size:4rem;
        font-weight: 800;
    }

    .bonus-feature {
        opacity:0;
        margin-bottom:2rem;
    }

    .buttons-wrapper {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media (max-width:600px){
            flex-direction:column;
        }

        .buttons-wrapper__button {
            display:flex;
            flex-direction: column;

            @media (min-width:1040px){
                width:calc(25% - 4rem);
            }
            

            @media (max-width:1040px) and (min-width:600px){
                width:calc(50% - 1rem);

                
                &:nth-child(1), &:nth-child(2) {
                    margin-bottom:2rem;
                }
            }

            @media (max-width:600px){
                &:not(:last-child){
                    margin-bottom:2rem;
                }
            }

            button {
                padding:0.7rem 0.5rem;
                display: inline-block;
                margin:0 auto 1rem auto;
                border-radius: 0.5rem;
                cursor: pointer;
                border-width: 0px;

                &:not(:disabled):hover {
                    background: darken($color, 20%);
                }

                &:disabled {
                    color: darken($color, 30%);
                    cursor: not-allowed;
                }
            }

            > span {
                font-size:0.7rem;

                &:not(:last-child){
                    margin-bottom:0.5rem;
                }
            }
        }
    }
}